#menu_bar { height: 48px; background-color: #443e58; font-size: 16px; }
#menu_bar ul { width: 1000px; margin: 0 auto; padding: 14px 0 0 40px; }
#menu_bar li { display: inline; margin-left: 90px; color: white; }
#menu_bar a:link { color: white; }
#menu_bar a:hover { color: white; }
#menu_bar a:visited { color: white; }
#menu_bar a:active { color: white; }